<form ng-submit="search()" class="search-bar">
    <div class="content">
        <button class="fa fa-search"></button>
        <input type="text" ng-model="searchFrm.text" placeholder="Search for a movie, series and videos">
    </div>
</form>
<section ng-init="init()" class="content">
    <h2 class="section-title">Descubra nuevas películas y programas de televisión</h2>
    <div class="filter-form">

        <div>
            <label for="cbxYear">Year</label>
            <select name="cbxYear" id="cbxYear"
                    ng-model="searchFrm.year"
                    ng-options="year for year in years | orderBy: '-' track by year" >
            </select>

        </div>
        <div>
            <label for="cbxGenre">Genero</label>
            <select name="cbxGenre" id="cbxGenre"
                    ng-model="searchFrm.genre"
                    ng-options="genre.name for genre in genres track by genre.id">
            </select>
        </div>
    </div>


    <card datalist="movies"></card>




</section>
