<form ng-submit="search()" class="search-bar">
    <div class="content">
        <button class="fa fa-search"></button>
        <input type="text" ng-model="searchFrm.text" placeholder="Search for a movie, series and videos">
    </div>
</form>
<section ng-init="init()" class="content">
    <h2 class="section-title">Descubra nuevas películas y programas de televisión</h2>
    <div class="filter-form">

        <div>
            <label for="cbxYear">Year</label>
            <select name="cbxYear" id="cbxYear"
                    ng-model="searchFrm.year"
                    ng-options="year for year in years | orderBy: '-' track by year">
            </select>

        </div>
        <div>
            <label for="cbxGenre">Genero</label>
            <select name="cbxGenre" id="cbxGenre"
                    ng-model="searchFrm.genre"
                    ng-options="genre.name for genre in genres track by genre.id">
            </select>
        </div>
    </div>

    <!--<div class="result-list">-->
        <!--<p ng-show="movies.length == 0">Sorry no movies were found related to these criterias</p>-->
        <!--<ul ng-hide="movies.length == 0">-->
            <!--<li ng-repeat="movie in movies" class="card">-->
                <!--<div class="card-img">-->
                    <!--<img ng-src="{{apiImageUrl + movie.poster_path}}" src="" alt="{{movie.original_title}}" width="100%">-->
                <!--</div>-->
                <!--<div class="card-info">-->
                    <!--<h3>-->
                        <!--{{movie.original_title}}-->
                        <!--<span>{{movie.vote_average}}</span>-->
                    <!--</h3>-->
                    <!--<ul>-->
                        <!--<li>{{movie.runtime}}</li>-->
                        <!--<li>{{movie.release_date | date: "d MMM y"}}</li>-->
                        <!--<li><em ng-repeat="genre in movie.genres">{{genre.name}} </em></li>-->
                    <!--</ul>-->
                    <!--<p>{{movie.overview}}</p>-->
                <!--</div>-->
                <!--<div class="card-btn">-->
                    <!--<a class="btn" ng-click="getVideo(movie.id)">Ver trailer</a>-->
                    <!--<a class="fav-btn">Agregar a favorito <i class="fa fa-heart"></i></a>-->
                <!--</div>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->



    <card datalist="movies"></card>




</section>
