<!--<section ng-init="init()">-->
<!--<h2>Descubra nuevas películas y programas de televisión</h2>-->


<!--<select name="cbxYear" id="cbxYear"-->
<!--ng-model="search.year"-->
<!--ng-options="year for year in years | orderBy: '-' track by year">-->
<!--</select>-->

<!--<select name="cbxGenre" id="cbxGenre"-->
<!--ng-model="search.genre"-->
<!--ng-options="genre.name for genre in genres track by genre.id">-->
<!--</select>-->


<!--<ul>-->
<!--<li ng-repeat="serie in series">-->
<!--<div>-->
<!--<img ng-src="{{apiImageUrl + serie.poster_path}}" src="" alt="{{serie.original_title}}" width="50%">-->
<!--</div>-->
<!--<div>-->
<!--<h3>{{serie.original_title}}</h3>-->
<!--<span>{{serie.vote_average}}</span>-->
<!--<span>{{serie.release_date}}</span>-->
<!--<em ng-repeat="genre in serie.genre_ids">{{genre}},</em>-->
<!--<p>{{serie.overview}}</p>-->
<!--<a ng-click="getVideo(serie.id)">Ver trailer</a>-->
<!--<a>Agregar a favorito</a>-->
<!--</div>-->
<!--</li>-->
<!--</ul>-->
<!--</section>-->


<form ng-submit="search()" class="search-bar">
    <div class="content">
        <button class="fa fa-search"></button>
        <input type="text" ng-model="searchFrm.text" placeholder="Search for a movie, series and videos">
    </div>
</form>
<section ng-init="init()" class="content">
    <h2 class="section-title">Descubra nuevas películas y programas de televisión</h2>
    <div class="filter-form">

        <div>
            <label for="cbxYear">Year</label>
            <select name="cbxYear" id="cbxYear"
                    ng-model="searchFrm.year"
                    ng-options="year for year in years | orderBy: '-' track by year"s>
            </select>

        </div>
        <div>
            <label for="cbxGenre">Genero</label>
            <select name="cbxGenre" id="cbxGenre"
                    ng-model="searchFrm.genre"
                    ng-options="genre.name for genre in genres track by genre.id">
            </select>
        </div>
    </div>



    <card datalist="series"></card>


</section>


